a {
    color: #222222;
    text-decoration: none;
}
.MuiToolbar-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar {
    background: white;
}

.menuButton {
    margin-right: 2px;
}



.title {
    flex-grow: 1;
    font-weight: bold !important;
    color: black;
    font-size: 24px !important;
    font-family: "Roboto", sans-serif !important;
    padding-left: 1rem;
}

Button {
    
}

.bar {
    height: 64px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#dropdown {
    height: 315px;
    width: 522px;
}

#login {
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background:linear-gradient(247.92deg, #88B5E1 0.6%, #9188AB 100%);
    text-decoration-color: white;
}
