a {
    color: #222222;
    text-decoration: none;
}
.MuiToolbar-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.menuButton {
    margin-right: 2px;
}

.title {
    flex-grow: 1;
    font-weight: bold !important;
    color: white;
    font-size: 24px !important;
    font-family: "Roboto", sans-serif !important;
    padding-left: 1rem;
}

.bar {
    height: 64px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#login {
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
