* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.searchbar{
  background :linear-gradient(247.92deg, #88B5E1 0.6%, #9188AB 100%);
  display:flex;
  flex-direction:column;
  
}

#searchbutton{
  margin-top: 2.3rem;
}

.searchcontain{
  margin-left: 4rem;
}

#sortdrop{
  display:flex;
  flex-direction:row;

}

