body {
  margin: 0;
  font-family:  'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-content {
    margin-right: auto;
    margin-left: auto;
    background-color: 8481E2;
}

.homepage {
  padding: 0 !important;
}

#createDescription {
  height: 20rem;
  width: 70rem;
}

#createSummary {
  height: 5rem;
  width: 70rem;
}

#createTags {
  padding: 0rem;
}

#createPostTitle {
  background: -webkit-linear-gradient(#88B5E1, #9188AB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

#labelRow {
  background-image: linear-gradient(to right, #88B5E1, #9188AB);
  color: white;
  font-weight: 450;
}

.loginFunc {
  justify-content: flex-end;
  display: flex;
  
  flex: 1 0 auto;
  margin: 0rem 2rem;
}
